version: "1.0"
services:
  postgres:
   image: postgres
   restart: always
   container_name: postgres
   ports:
    - 5454:5432 
   environment:
     POSTGRES_PASSWORD: password
  mongo:
   image: mongo
   restart: always
   container_name: mongo
   ports:
    - 5455:27017
   environment:
    - MONGO_INITDB_ROOT_USERNAME= ahmed
    - MONGO_INITDB_ROOT_PASSWORD= password